/*NOSOTROS---------------------------------*/

.nosotros__parrafo {
    background-color: rgba(224, 224, 221, 0.664);
    text-align: center;

    h1 {
        text-align: center;
        background-color: rgba(255, 255, 255, 0.5);
        color: $naranja;
        text-decoration: underline;
        border-top-left-radius: 50px;
        border-bottom-right-radius: 50px;
    }

    p {
        font-family: $font;
        color: $azul;
        line-height: 50px;
        padding-left: 10px;
        padding-right: 10px;
        text-transform: uppercase;
    }

    &:hover {
        background-color: $blanco;
        color: $naranja;
    }
}

/*FINISH NOSOTROS------------------------------*/