
/*'Roboto Mono', monospace;*/
/*#ef233c rojo
#faa307 naranja
#d0f4de aqua
#023e8a azul
#ffffff blanco*/

$rojo: #ef233c;
$naranja:#faa307;
$aqua:#d0f4de;
$azul: #023e8a;
$blanco: #ffffff;
$font: 'Roboto Mono', monospace;
